<h1>{{title}}</h1>
<!-- Add a <nav> element and, within that, an anchor element that, 
    when clicked, triggers navigation to the HeroesComponent  -->
<nav>
    <a routerLink="/heroes">Heroes</a>
    <a routerLink="/dashboard">Dashboard</a>    
</nav>
<!-- Replace the <app-heroes> element with a <router-outlet> element -->
<!-- You removed <app-heroes> because you will only display the 
    HeroesComponent when the user navigates to it (http://localhost:4200/heroes).
    The <router-outlet> tells the router where to display routed views. -->
<!-- <app-heroes></app-heroes> -->
<router-outlet></router-outlet>
<app-messages></app-messages>