<h2>My Heroes</h2>
<div>
  <label>Hero name:
    <input #heroName placeholder="<new hero name>">
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>
<!--  New:  wrap the badge and name in an anchor element (<a>), and 
  add a routerLink attribute to the anchor that is the same as 
  in the dashboard template -->
<ul class="heroes">
    <li *ngFor="let aHero of heroes">
      <a routerLink="/detail/{{aHero.id}}">
        <span class="badge">{{aHero.id}}</span> {{aHero.name}}
      </a>
      <button class="delete" title="delete hero"
      (click)="delete(aHero)">x</button>
    </li>
  </ul>
  <!-- 
    *ngFor is Angular's repeater directive.
     - <li> is the host element
     - heroes is the list from the HeroesComponent class.
     - hero holds the current hero object for each iteration through the list.
    "onclick" tag event binding to component method "delete"
   -->

<!-- Original hero list:
  "onclick" tag event binding to component method "onSelect"
  class binding of ".selected" when conditional is true -->
<!-- <ul class="heroes">
  <li *ngFor="let aHero of heroes"
    (click)="onSelect(aHero)" 
    [class.selected]="aHero === selectedHero">
    <span class="badge">{{aHero.id}}</span> {{aHero.name}}
  </li>
</ul> -->

<!-- old (before routing added) display the details below the list when a user
  selects a hero:
  Bind the HeroesComponent.selectedHero to the element's hero
  [hero]="selectedHero" is an Angular property binding. -->
<!-- <app-hero-detail [myHero]="selectedHero"></app-hero-detail> -->